@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #525989;
  --secondary: #939ac8;
  --secondary-light: #f5f5f5;
  --tertiary: #ffe000;
  --quaternary: #b39ddb;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Classes customizadas para reutilização */
.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-secondary-light {
  background-color: var(--secondary-light);
}

.bg-tertiary {
  background-color: var(--tertiary);
}

.bg-quaternary {
  background-color: var(--quaternary);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-tertiary {
  color: var(--tertiary);
}

.text-quaternary {
  color: var(--quaternary);
}
